.mypy_cache/
/.idea/
/.coverage
/.coverage.*
/.nox/
/.python-version
/.pytype/
/dist/
/docs/_build/
/src/*.egg-info/
/src/instance
src/spiffworkflow_backend/config/secrets.py
__pycache__/
*.sqlite3
node_modules
/pyrightconfig.json
/tests/files/tickets.csv
/log/*.log
/tests/spiffworkflow_backend/files
/src/spiffworkflow_backend/config/secrets.py
