<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Process Groups</title>
</head>
<body>
<h1>Process Groups</h1>
     <table>
         <tbody>
         {# here we iterate over every item in our list#}
         {% for process_group in process_groups %}
             <tr><td><a href="{{ url_for('admin.process_group_show', process_group_id=process_group.id) }}">{{ process_group.display_name }}</a></td></tr>
         {% endfor %}
         </tbody>
     </table>
</body>
</html>
